#bundle() {
  .button {
    display: block;
    background-color: grey;
    &:hover {
      background-color: white;
    }

    .another {
      font-weight: 500;
    }
  }
}

.testing {
  #bundle > .button .another;
}