<!DOCTYPE html>
<html lang="en">

<% include ../_header.ejs %>

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">About Page</h1>
        <p class="lead blog-description">Every site needs an about page.</p>
    </div>

</div><!-- /.container -->

<% include ../_footer.ejs %>

</html>