<!DOCTYPE html>
<html lang="en">

<% include ../_header.ejs %>

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Check Out Page</h1>
        <p class="lead blog-description">Click this button to check out.</p>
        <button type="button" class="btn btn-success check-out-button">Check Out</button>
    </div>

    <div class="row">
        <button type="button" class="btn btn-default sign-in-btn" data-user-id="userOne">User One (sign in)</button>
        <button type="button" class="btn btn-default sign-in-btn" data-user-id="userTwo">User Two (sign in)</button>
        <button type="button" class="btn btn-default sign-out-btn">Sign Out</button>
        <hr>
    </div>


</div><!-- /.container -->

<% include ../_footer.ejs %>

</html>