<!DOCTYPE html>
<html lang="en">

<% include ../_header.ejs %>

<!-- try LESS feature inside this: -->
<div class="targetLessDiv">
    <h1>Test everything inside this (Less.js)</h1>

    <div class="color-div">
        Color div.
    </div>
    <div class="color-div2">
        Color div 2.
    </div>
</div>

<% include ../_footer.ejs %>

</html>