<!DOCTYPE html>
<html lang="en">

<% include ../_header.ejs %>

<!-- try LESS feature inside this: -->
<div class="targetLessDiv">
    <h1>Test everything inside this (Less.js)</h1>
</div>

<% include ../_footer.ejs %>

</html>