<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/lessTest<%= DOT_MIN %>.css'/>
</head>
<body>

<form id="submitfrm" action="demo_form.asp">
    <label for="fname">First name:</label>
    <input type="text" name="fname"><br>
    <label for="lname">Last name:</label>
    <input type="text" name="lname"><br>
    <input class="button red" id="submitbtn" type="submit" value="Submit">
</form>

</body>
</html>