<!DOCTYPE html>
<html lang="en">

<% include ../_header.ejs %>

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Product Page</h1>
        <p class="lead blog-description">Shows product details.</p>
    </div>

</div><!-- /.container -->

<% include ../_footer.ejs %>

</html>