<!DOCTYPE html>
<html lang="en">

<% include ../_header.ejs %>

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Product Page</h1>
        <p class="lead blog-description">Shows product details.</p>
    </div>

    <div class="row">
        <h3>Product White Paper</h3>
        <ul>
            <li><a href="/pdfs/sample.pdf" target="_blank">Sample PDF</a></li>
            <li><a href="/pdfs/test.pdf" target="_blank">Test PDF</a></li>
            <li><a href="http://www.google.com" target="_blank">Google</a></li>
        </ul>

        <h3>Virtual Pageview (PDFs)</h3>
        <ul>
            <li><a href="/pdfs/sample.pdf" target="_blank">Sample PDF (v)</a></li>
            <li><a href="/pdfs/test.pdf" target="_blank">Test PDF (v)</a></li>
        </ul>

        <h3>Products (enhanced e-commerce)</h3>
        <ul>
            <li><a href="/products/smartphone1" target="_blank">smartphone 1</a></li>
            <li><a href="/products/smartphone2" target="_blank">smartphone 2</a></li>
        </ul>

        <h3>Promotions (enhanced e-commerce, to be loaded with the page)</h3>
        <ul>
            <li>Accessory 1</li>
            <li>Accessory 2</li>
        </ul>
    </div>

</div><!-- /.container -->

<% include ../_footer.ejs %>

</html>