<!DOCTYPE html>
<html lang="en">

<% include ../_header.ejs %>

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Sign Up Page</h1>
        <p class="lead blog-description">Users sign up here.</p>
    </div>

</div><!-- /.container -->

<% include ../_footer.ejs %>

</html>