<!DOCTYPE html>
<html lang="en">

<% include ../_header.ejs %>

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Smartphone 2</h1>
        <p class="lead blog-description">enhanced e-commerce</p>
    </div>


    <div class="row">
        <button type="button" class="btn btn-default btn-xs product-click-button"
                data-name="smartphone2" data-id="SP002" data-price="200" data-brand="SomeBrand"
                data-category="smartphone" data-variant="blue" data-position="2" data-url="/tabs/products">
            product-click smartphone 2
        </button>
    </div>

    <div class="row">
        <hr>
    </div>

</div><!-- /.container -->

<% include ../_footer.ejs %>

</html>