<!DOCTYPE html>
<html lang="en">

<% include ../_header.ejs %>

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Smartphone 1</h1>
        <p class="lead blog-description">enhanced e-commerce</p>
    </div>

    <div class="row">
        <button type="button" class="btn btn-default btn-xs add-to-cart-button">Add smartphone 1 to cart</button>
    </div>

    <div class="row">
        <hr>
    </div>

</div><!-- /.container -->

<% include ../_footer.ejs %>

</html>